/*CSS FOR MINUTE SHOWING AS SMALL CLICKABLE BUTTON*/
.minute-layout
{
    display: flex;
}

.minute-item
{
    width:78px;
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
    vertical-align:middle;
    border-collapse:collapse; 
    border:1px solid grey;
    cursor:pointer;
}

.minute-item:first-child
{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.minute-item:last-child
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.minute-item.active
{
    border-color:blue;
    box-shadow:0px 2px 3px 0px blue;
}

.minute-item:hover
{
    border-color:blue;
}

.minute-layout .custom-input
{
    border:0px;
    
    border-bottom:1px solid grey;
    width:90%;
}

.minute-layout .line1
{
    font-size:14px;font-weight:bold;
}

.minute-layout .line2
{
    font-size:11px;
}

.contextmenu
{
    margin-bottom:20px;
    box-shadow:0px 0px 3px 2px #999999;
}

.contextmenu.dashboard .card-body
{
    padding-bottom:0px;
}

.dashboard-card
{
    margin-top:7px;
    border-top:5px solid #8988fc;
}
.dashboard-card .card-body
{
    
    height:140px;
    position:relative;
    box-shadow:0px 1px 3px 0px #d3d3d3;

}

.dashboard-card .item-title
{
    margin-top:30px;
    font-size:26px;
}

.dashboard-card .card-action
{
    padding-left:14px;
    padding-right:14px;
    padding-top:10px;
    padding-bottom:10px;
}

.spacing-top
{
    margin-top:20px;
}

.item-bullet
{
    color:#888bf4;
    
}

.schedule-list .list-group-action
{
    padding:10px;
}

.schedule-list .item-bullet
{
    margin-right:10px;
    margin-top:3px;
}

.appointment_step1
{
    padding-left:50px;
    padding-right:50px;
}

.appointment_step2
{
    padding-left:20px;
    padding-right:20px;
}

.step_description
{
    margin-top:35px;
}

body
{
    background:#f9f9f9;
}

.schedule-event .card-header
{
    background:none;
}

.schedule-event .card-body.event-container
{
    padding:0px;
}

.schedule-event .card
{
    border-collapse:collapse;
    border-radius:0px;
}

.schedule-event .event-date
{
    background:#f9f9f9;
    border:0px;
    box-shadow:none;
}

.nav-tabs
{
    border-bottom:0px;
    margin-bottom:0px;
    padding-top:8px;
}

.no-padding-bottom
{
    padding:0px;
}

.nav-tabs li.nav-item a.nav-link
{   
    color:#cccccc;
}

.nav-tabs li.nav-item a.nav-link:hover
{
    color:#000000;
    border-color:transparent;
}

.nav-tabs li.nav-item a.nav-link.active
{
    color:#000000;
    border:0px;
    border-bottom:3px solid #46a1f1;
}

.text-green
{
    color:#63b398;
}

.btn-flat
{   
    text-align:center;
    padding-top:7px;
    padding-bottom:7px;
    color:#5398db;
    border:1px solid #5398db;
}

.btn-flat:hover
{
    background:#5398db;
    color:#ffffff;
}

.btn-flat .fa
{
    margin-right:10px;
}

.profile-dropdown
{
    margin-left:-50px;
}

.profile-icon
{
    margin-right:7px;margin-top:-3px;
}

.app-toast
{
    position:fixed;top:5px;right:45%;;z-index:1001;
}

/*
CALENDAR PLUGIN RELATED CSS
*/

#calendar td,th
{
    font-size:14px;
    color:#acacac;
}

#calendar .slot.active
{
    background:#47a1f9;
    color:#ffffff;
}
#calendar .slot
{
    border-radius:50%;
    width:32px;
    height:32px;
    padding-top:6px;
    color:#539fe9;
    background:#fbfaff;
    box-shadow:0px 2px 3px 0px #999999;
    cursor:pointer;
}
#calendar .calendar-nav
{
    margin-top:25px;
    margin-bottom:25px;
}

#calendar [data-calendar-nav]
{
    margin-right:10px;
    margin-left:10px;
}

#calendar_timeslot
{
    padding-top:55px;
}